# ==================================================
# PYTHON
# ==================================================

__pycache__/
*.pyc
*.pyo
*.pyd


# ==================================================
# VENV
# ==================================================

venv/
.env/


# ==================================================
# DJANGO
# ==================================================

db.sqlite3

media/

staticfiles/


# ==================================================
# GIT
# ==================================================

.git/
.gitignore


# ==================================================
# IDE
# ==================================================

.vscode/
.idea/


# ==================================================
# LOGS
# ==================================================

logs/
*.log


# ==================================================
# TESTS
# ==================================================

.coverage
pytest_cache/


# ==================================================
# OS
# ==================================================

.DS_Store
Thumbs.db


# ==================================================
# DOCKER
# ==================================================

docker-compose.override.yml